<div *ngIf="currentGame === ''" class="main">
  <div class="menu">
    <h1 class="menu-header">
      Solo Gaming
    </h1>

    <div class="menu-actions">
      <input class="input" placeholder="search game..." />
      <i class="fas fa-search search-icon"></i>
    </div>

    <div class="carousel">
      <div *ngFor="let game of games" class="game">
        <img class="game-image" [src]="game.url" (click)="openGame(game)">
      </div>
    </div>
  </div>
</div> 

<app-under-falling-skies *ngIf="currentGame === 'Under Falling Skies'"></app-under-falling-skies>